<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../styles.css" rel="stylesheet">
</head>
<body>
    <h2> Login Page</h2>
    <form [(ngFormModel)]="loginForm">
        <label for="username">Username: </label>
        <input ngControl="username"><span *ngIf="!ctrlUsr.valid"> [required] </span><br>
        <label for="password">Password: </label>
        <input ngControl="password" type="password"><span *ngIf="!ctrlPwd.valid"> [required] </span><br>
        <button type="button" class="btn btn-primary" (click)=onSubmit()>Submit</button>
     
    </form>
    <pre> {{getValue()}}</pre>   
       
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"> </script>
</body>

</html>